**/.dart_tool/
**/.packages
**/.pub/
**/pubspec.lock
**/build/

.DS_Store
.idea/
.vscode/
*.iml

**/*.g.dart

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# ObjectBox DB files
**.mdb